.message {
    text-align: left;
    padding : 0px;
    margin : 10px;
    width : fit-content;
    color : #a3a3a3;
    font-family: cursive;
}

.message__user {
    margin-left: auto;
    color : white;
    text-align: right !important;
}

.message__userCard {
    background-color : #2d5bd8 !important; 
    color: white !important ;
}

.message__guestCard {
    background-color : #e9e9eb !important; 
}

.message__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}